@font-face {
  font-family: Pixeloid;
  src: url(/fonts/pixeloid/woff/PixeloidMono.woff);
  font-weight: normal;
}
@font-face {
  /* TODO: Rename to "Pixeloid Sans" */
  /* TODO: Define backups */
  font-family: 'Pixeloid Sans';
  src: url(/fonts/pixeloid/woff/PixeloidSans.woff);
  font-weight: normal;
}
@font-face {
  font-family: Pixeloid;
  src: url(/fonts/pixeloid/woff/PixeloidMono-Bold.woff);
  font-weight: bold;
}

@font-face {
  font-family: 'Pixeloid Sans';
  src: url(/fonts/pixeloid/woff/PixeloidSans-Bold.woff);
  font-weight: bold;
}

:root {
  --type-h1-size: 52px;
  --type-h1-font: 'Pixeloid Sans';
  --type-h1-weight: 400;
  --type-h1-line-height: 112%;

  --type-h2-size: 44px;
  --type-h2-font: 'Pixeloid Sans';
  --type-h2-font-weight: 400;
  --type-h2-line-height: 54px;

  --type-h1-size-desktop: 103px;
  --type-h1-line-height-desktop: 100%;

  --type-h2-size-desktop: 77px;
  --type-h2-line-height-desktop: 109%;

  --type-h3-size: 30px;
  --type-h3-font: Inter;
  --type-h3-weight: 500;
  --type-h3-line-height: 36px;
  --type-h3-letter-spacing: -0.035em;

  --type-h4-size: 20px;
  --type-h4-font: Inter;
  --type-h4-weight: 500;
  --type-h4-line-height: 24px;
  --type-h4-letter-spacing: -0.02em;

  --type-h5-size: 18px;
  --type-h5-font: Inter;
  --type-h5-weight: 500;
  --type-h5-line-height: 22px;

  --type-body-size: 16px;
  --type-body-font: Inter;
  --type-body-weight: 400;
  --type-body-line-height: 20px;

  --type-body-m-size: 20px;
  --type-body-m-font: Inter;
  --type-body-m-weight: 500;
  --type-body-m-line-height: 20px;

  --type-sub-size: 13px;
  --type-sub-font: Inter;
  --type-sub-weight: 400;
  --type-sub-line-height: 12px;

  --type-sub-m-size: 13px;
  --type-sub-m-font: Inter;
  --type-sub-m-weight: 500;
  --type-sub-m-line-height: 12px;

  --type-label-size: 16px;
  --type-label-font: Inter;
  --type-label-weight: 400;
  --type-label-line-height: 20px;

  --type-label-bold-size: 16px;
  --type-label-bold-font: Inter;
  --type-label-bold-weight: 500;
  --type-label-bold-line-height: 20px;

  --type-button-size: 14px;
  --type-button-font: Inter;
  --type-button-weight: 500;
  --type-button-line-height: 17px;

  --type-button-bold-size: 16px;
  --type-button-bold-font: Inter;
  --type-button-bold-weight: 600;
  --type-button-bold-line-height: 16px;
}
