@font-face {
  font-family: "Rubik Puddles";
  src: url("/fonts/RubikPuddles-Regular.woff2") format("woff2"),
    url("/fonts/RubikPuddles-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Averia Sans Libre";
  src: url("/fonts/AveriaSansLibre-LightItalic.woff2") format("woff2"),
    url("/fonts/AveriaSansLibre-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Averia Sans Libre";
  src: url("/fonts/AveriaSansLibre-Italic.woff2") format("woff2"),
    url("/fonts/AveriaSansLibre-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Averia Sans Libre";
  src: url("/fonts/AveriaSansLibre-Regular.woff2") format("woff2"),
    url("/fonts/AveriaSansLibre-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Averia Sans Libre";
  src: url("/fonts/AveriaSansLibre-Bold.woff2") format("woff2"),
    url("/fonts/AveriaSansLibre-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Averia Sans Libre";
  src: url("/fonts/AveriaSansLibre-Light.woff2") format("woff2"),
    url("/fonts/AveriaSansLibre-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Averia Sans Libre";
  src: url("/fonts/AveriaSansLibre-BoldItalic.woff2") format("woff2"),
    url("/fonts/AveriaSansLibre-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
