@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link-standard {
    @apply font-medium text-blue-600 dark:text-blue-500 hover:underline disabled:opacity-50;
    &.link-disabled {
      @apply opacity-50 pointer-events-none;
    }
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
