@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@layer components {
  .button-standard {
    @apply text-sm border-[1px] rounded-sm border-[#A855F7] border-solid text-[#A855F7] p-2 uppercase;
  }

  .link-standard {
    @apply w-16 md:w-32;
    &.link-disabled {
      @apply opacity-50 pointer-events-none;
    }
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  // background: linear-gradient(90deg, #2d0b3d, #46115f, #512e82), #c4c4c4;
  background-color: white;
  color: black;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.user-avatar div {
    width: 40px!important;
    height: 40px!important;
}

.generic-list {
  &-item {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
}

.provider-connect-btn button {
  text-align: center!important;
  white-space: nowrap;
  background-color: #A855F7!important;
  color: white!important;
  font-size: 11.5px!important;
}

.provider-connect-btn div {
  color: white!important;
}